

.slide{
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        
        .numberImg{
            margin-bottom: 20px;
        }
.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
        .questionText{
            margin-bottom: 10px;
            font-size: 16px;
        }

    }
}
}
