.wrapper {
    margin-bottom: 43px;

    @media screen and(min-width:576px){
    
}

    @media screen and(min-width:576px) {
    margin-top: 104px;
    padding-top: 55px;
    padding-bottom: 17px;
    
    }
    .swiper-container {
        border: 1px solid #C7C7C7;
        
        margin: 0 auto;

        @media screen and(min-width:576px){
            max-width:400px;
        }
        


        .swiper-button-prev {
            transform: translateX(0px);
            top: 30px;


            &::after {
                content: url(../../assets/img/swiper/arrowPrev.svg);

            }
        }

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 1;
        }

        .swiper-button-next {
            right: 5px;
            top: 30px;

            &::after {
                content: url(../../assets/img/swiper/arrowNext.svg);
            }
        }

        .swiper-pagination {

            .swiper-pagination-bullet-active {
                --swiper-theme-color: #FC9B09;
                width: 10px;
                height: 10px;
            }


            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
            }
        }

    }
}