.mapBox {
    background-image: url(../../assets/img/map/map.svg);
    height: 423px;
    display: flex;
    width: 100%;
    .container{
        display: none;

        @media screen and(min-width:1280px) {
            display: flex;
        }
    }

}